<div class="modal fade" id="settingsModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body d-flex">
                <div class="list-group list-group-flush me-3 w-25" id="settingsTabs" style="border-right: 1px solid white;">
                    <button class="list-group-item list-group-item-action active bg-dark text-light" onclick="showSettingsTab('menuTab')">📋 Menu</button>
                    <button class="list-group-item list-group-item-action bg-dark text-light" onclick="showSettingsTab('profileTab')">👤 Profile</button>
                </div>

                <div class="flex-grow-1">
                    <div id="menuTab" class="settings-tab">
                        <button class="btn btn-outline-light mb-2" onclick="openAddModal()">➕ Add Menu</button>
                        <table class="table table-dark table-bordered" id="menuTable">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Route</th>
                                <th>Icon</th>
                                <th>Sort Order</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div id="profileTab" class="settings-tab d-none">
                        <h6>Profile Settings</h6>
                        <p>More settings can go here...</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>