<!DOCTYPE html>
<html lang="en" data-bs-theme="light" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>API Analytics Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/commonFont.css}">
    <link rel="stylesheet" th:href="@{/css/statusDot.css}">
    <link rel="stylesheet" th:href="@{/css/toast.css}">
    <style>
        body {
          font-family: 'Roboto', sans-serif;
        }
        .theme-toggle {
          cursor: pointer;
        }

        .card {
          border-radius: 12px;
          box-shadow: var(--border-color);
        }

        #controls {
          margin-bottom: 20px;
        }

        select {
          padding: 8px 12px;
          background-color: var(--bg-color);
          color: #000000;
          border: 1px;
          border-radius: 6px;
        }

        #chart-container {
          background: var(--bg-color);
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
        }

        canvas {
          height: 400px !important;
        }
    </style>
</head>
<body>
<div th:insert="fragments/toast :: section"></div>
<div th:insert="fragments/header :: section"></div>

<div class="px-5" style="padding-top:80px">
    <div class="row mb-4">
        <div class="col-md-1">
            <div class="card p-3">
                <h6>Up time</h6>
                <p class="h5 mt-2" id="curr_up_time">--%</p>
            </div>
        </div>
        <div class="col-md-1">
            <div class="card p-3">
                <h6>Cpu cores</h6>
                <p class="h5 mt-2" id="curr_cpu_core">--</p>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card p-3">
                <h6>System Load</h6>
                <p class="h5 mt-2" id="curr_system_load">--%</p>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card p-3">
                <h6>CPU Usage</h6>
                <p class="h5 mt-2" id="curr_cpu_usage">--%</p>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card p-3">
                <h6>RAM Usage</h6>
                <p class="h5 mt-2" id="curr_ram_usage">--GB</p>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card p-3">
                <h6>ROM Usage</h6>
                <p class="h5 mt-2" id="curr_rom_usage">--GB</p>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card p-3">
                <h6>Network Usage</h6>
                <p class="h5 mt-2" id="curr_net_usage">--MB/s</p>
            </div>
        </div>
    </div>
    <div id="controls">
        <label for="timeRange">Show data for:</label>
        <select id="timeRange">
            <option value="m5">Last 5 Minutes</option>
            <option value="m10">Last 10 Minutes</option>
            <option value="m15">Last 15 Minutes</option>
            <option value="m30">Last 30 Minutes</option>
            <option value="h1">Last 1 Hours</option>
            <option value="h3">Last 3 Hours</option>
            <option value="h6">Last 6 Hours</option>
            <option value="h12">Last 12 Hours</option>
            <option value="h24">Last 24 Hours</option>
            <option value="d2">Last 2 Days</option>
        </select>
    </div>

    <div class="row mb-4">
        <div class="col-md-12 me-md-3" id="chart-container">
            <canvas id="cpuChart"></canvas>
        </div>
        <div  class="col-md-12" id="chart-container">
            <canvas id="ramChart"></canvas>
        </div>
        <div  class="col-md-12" id="chart-container">
          <canvas id="systemLoadChart"></canvas>
      </div>
      <div  class="col-md-12" id="chart-container">
        <canvas id="romUsageChart"></canvas>
    </div>
    </div>

</div>

<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/toast.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script>

let maxPoints = 300;
const text_color = "#4c454e";

const cpu_ctx = document.getElementById('cpuChart').getContext('2d');
const ram_ctx = document.getElementById('ramChart').getContext('2d');
const systemLoad_ctx = document.getElementById('systemLoadChart').getContext('2d');
const rom_ctx = document.getElementById('romUsageChart').getContext('2d');

const cpuChart = createLineChart(cpu_ctx, 'CPU Usage (%)', text_color,100, "%");
const ramChart = createLineChart(ram_ctx, 'RAM Usage (%)', text_color,100, "%");
const systemLoadChart = createLineChart(systemLoad_ctx, 'SystemLoad (%)', text_color,10);
const romChart = createLineChart(rom_ctx, 'Rom Usage (GB)', text_color,100, "GB");

fetchInitialData()
setInterval(fetchCurrentStatus, 2000);


async function fetchInitialData() {
  const response = await fetch('http://localhost:8081/analytics/1', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json'
    },
  });

  const result = await response.json();
  const history = Array.isArray(result.data) ? result.data : []; 
  history.forEach(item => {
    const label = new Date(item.triggredAt).toLocaleTimeString();
    const cpuUsage = item.cpuUsage;
    const ramUsage = item.ramUsage;
    const systemLoadUsage = item.systemLoad1m;
    const romUsage = item.freeDisk;


    cpuChart.data.labels.push(label);
    cpuChart.data.datasets[0].data.push(cpuUsage);

    ramChart.data.labels.push(label);
    ramChart.data.datasets[0].data.push(ramUsage);

    systemLoadChart.data.labels.push(label);
    systemLoadChart.data.datasets[0].data.push(systemLoadUsage);
    
    romChart.data.labels.push(label);
    romChart.data.datasets[0].data.push(romUsage);
  });

  cpuChart.update();
  ramChart.update();
  systemLoadChart.update();
  romChart.update();
  initialized = true;
}

async function fetchCurrentStatus(){
  try {
        const response = await fetch('http://localhost:8081/analytics/current/1', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        });

        const data = await response.json();
        console.log('Submitted:', data);

        const label = new Date(data.data.triggredAt).toLocaleTimeString();
        const cpuUsage = data.data.cpuUsage;
        const ramUsage = data.data.ramUsage;
        const systemLoadUsage = data.data.systemLoad1m;
        const romUsage = data.data.freeDisk;

        if (cpuChart.data.labels.length >= maxPoints) {
          cpuChart.data.labels.shift();
          cpuChart.data.datasets[0].data.shift();
        }

        if (ramChart.data.labels.length >= maxPoints) {
          ramChart.data.labels.shift();
          ramChart.data.datasets[0].data.shift();
        }

        if (systemLoadChart.data.labels.length >= maxPoints) {
          systemLoadChart.data.labels.shift();
          systemLoadChart.data.datasets[0].data.shift();
        }

        if (romChart.data.labels.length >= maxPoints) {
          romChart.data.labels.shift();
          romChart.data.datasets[0].data.shift();
        }

        cpuChart.data.labels.push(label);
        cpuChart.data.datasets[0].data.push(cpuUsage);
        cpuChart.update();

        ramChart.data.labels.push(label);
        ramChart.data.datasets[0].data.push(ramUsage);
        ramChart.update();

        systemLoadChart.data.labels.push(label);
        systemLoadChart.data.datasets[0].data.push(systemLoadUsage);
        systemLoadChart.update();

        romChart.data.labels.push(label);
        romChart.data.datasets[0].data.push(romUsage);
        romChart.update();
        
        document.getElementById('curr_up_time').innerHTML = data.data.upTime;
        document.getElementById('curr_cpu_usage').innerHTML = data.data.cpuUsage + "%";
        document.getElementById('curr_system_load').innerHTML = data.data.systemLoad1m + "%";
        document.getElementById('curr_ram_usage').innerHTML = data.data.ramUsage + "%";
        document.getElementById('curr_rom_usage').innerHTML = data.data.freeDisk + " GB";
        document.getElementById('curr_cpu_core').innerHTML = data.data.cpuCores;
        if(data.success == true){
        } else{
          showToast( "Error -> " + data.msg   , "danger");
        }
    } catch (error) {
        console.error('Error:', error);
        showToast( error , "danger");
    }
}

function createLineChart(ctx, label, text_color = '#000', maxValue = 100, y_axis_prefix = "") {
  return new Chart(ctx, {
    type: 'line',
    data: {
      labels: [],
      datasets: [{
        label: label,
        data: [],
        fill: true,
        tension: 0.4,
        pointRadius: 2
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      animation: false,
      scales: {
        x: {
          ticks: { color: text_color }
        },
        y: {
          min: 0,
          max: maxValue,
          ticks: {
            callback: value => `${value}${y_axis_prefix}`,
            color: text_color
          }
        }
      },
      plugins: {
        legend: {
          labels: { color: text_color }
        }
      }
    }
  });
}
</script>
</body>
</html>
